body {
  margin: 5px;
  background-color: orange;
}

img {
  width: 250px;
  height: 250px;
}

header {
  background-color: red;

  text-align: center;
}


.one {
  margin-left: 200px;
  float: left;
  width: 250px;
  font-size: 25px;
}

.two {
  margin-left: 75px;
  float: left;
  width: 250px;
  font-size: 25px;
}

.three {
  margin-left: 75px;
  float: left;
  width: 250px;
  font-size: 25px;
}

.one p{
  color: blue;
}

.two p{
  color: violet;
}

.three p{
  color: gray;
}
